.addTodoForm {
  margin: 15px auto;
  text-align: center;
  .titleField,.descriptionField {
    min-width: 100px;
    margin-right: 10px;
    padding: 8px;
    border: 2px solid #e5cfb9;
    font-size: 16px;
    background-color: #f2ebe3;
  }
  .descriptionField {
    min-width: 300px;
  }
  button {
    padding: 8px 12px;
    color: #222233;
    background-color: #eae2da;
    border: 1px solid #222233;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
}